.brand small {
	color: black;
	font-weight: 700;
}

.brand span {
	color: darkorange;
	font-weight: 700;
}
.brand a {
	text-decoration: none;
}
.linkVote span {
	font-weight: 700;
}

.linkVote small {
	font-weight: 400;
	font-size: 18px;
}
